body {
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: #343a40;
    color: #f8f9fa;
    text-align: center;
    position: relative;
  }

  button {
    padding: 8px 16px;
    border: none;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  #refreshBtn {
    background-color: #28a745;
  }

  #refreshBtn:hover {
    background-color: #45a049;
  }

  #closeBtn {
    background-color: #dc3545;
  }

  #closeBtnError {
    background-color: #dc3545;
  }

  #closeBtn:hover {
    background-color: #e53935;
  }

  pre {
    text-align: left;
    background-color: #6c757d;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    white-space: nowrap;
  }

  #errorTemplate {
    min-width: 300px;
    padding: 10px;
  }

  #errorTemplate a {
    color: white;
  }

  #footer {
    font-size: 0.75em;
    color: gray;
    padding-top: 10px;
  }

  #footer a {
    color: inherit;
    text-decoration: none;
  }

  #footer a:hover {
    color: white;
  }

  input:checked + .slider:before {
    transform: translateX(18px); /* adjusted transform distance */
  }

  #refreshBtn:hover, #closeBtn:hover {
    opacity: 1;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;;
    height: 22px;;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;      /* reduced height */
    width: 16px;       /* reduced width */
    left: 3px;         /* adjusted position */
    bottom: 3px;       /* adjusted position */
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #28a745;
  }
  
  input:checked + .slider:before {
    transform: translateX(18px);
  }

  #spinnerOverlay.active {
    display: flex !important;
  }
  
  #mainContent.loading {
    opacity: 0.5;
    pointer-events: none;
  }

  .text-active {
    color: #ffffff;
  }
  
  .text-inactive {
    color: #6c757d;
  }