<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Qualification Viewer</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>

    <div id="spinnerOverlay"
      style="display:none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #001c31; display: flex; justify-content: center; align-items: center; color: white; font-size: 24px;">
      <img src="spinner.gif">
    </div>

    <div id="mainContent">
      <h1>Qualification Viewer V.1</h1>
      <p id="infoMessage">Loading...</p>
      <pre id="output"></pre>
      <div style="display: flex; justify-content: space-between; align-items: center; margin: 10px 0;">
        <div>
          <label class="switch">
            <input type="checkbox" id="toggleView">
            <span class="slider"></span>
          </label>
          <span style="margin-left: 10px;">Show All</span>
        </div>
        <div>
          <button id="refreshBtn">Refresh</button>
          <button id="closeBtn">Close</button>
        </div>
      </div>
    </div>

    <div id="errorTemplate">
      <div style="text-align: center;">
        <p style="white-space: nowrap; padding-top:20px">Please visit <a href="https://joinstellar.ai/home/"
            target="_blank">https://joinstellar.ai/home/</a>
        <p><button id="closeBtnError">Close</button>
        <p>
      </div>
    </div>

    <p id="footer"><a href="https://github.com/cbauerdev/Qualification-Viewer-V1/" target="_blank">Qualification Viewer
        on github</a></p>

    <script src="/js/popup.js"></script>
</body>

</html>